[submodule "models/nninteractive_v1"]
	path = models/nninteractive_v1
	url = https://github.com/pascualtejerocervera/nnInteractive.git
	branch = nninteractive_v1.1.5
[submodule "models/nninteractive_v2"]
	path = models/nninteractive_v2
	url = https://github.com/pascualtejerocervera/nnInteractive.git
	branch = nninteractive_v2.5.0
